* {
  display: flex;


}

#sides {
  border: 1px solid black;
  flex-direction: column;
  width: 100%;
  justify-content: center;


}

#abouts {
  border: 1px solid black;
  flex-direction: column;
  width: 75%;
  justify-content: center;


}
